<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
<p>{{ home_task.subject }}</p>
<p>{{ home_task.task }}</p>
<p>{{ home_task.pub_date }}</p>
<hr>
{% if not hw %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<fieldset>
    <legend><h1>Моя робота</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <input type="text" name="hw_text" id="hw_text">
        <label for="hw_text">Введіть текст</label><br>
        <input type="file" name="hw_image" id="hw_image" accept="image/*">
</fieldset>
		<button class="btn btn-primary" type="submit">Здати</button>
</form>
{% endif %}
<p>{{ hw.text }}</p>
<p>{{ hw.home_task }}</p>
<p>{{ hw.send_date }}</p>
{% if mark %}
<hr>
<p>{{ mark.mark }}</p>
<p>{{ mark.comment }}</p>
{% endif %}

</body>
</html>