{% extends 'student/base_student.html' %}

{% block title %}
Предмети
{% endblock %}

{% block page_name %}
Предмети
{% endblock %}

{% block content %}
    {% if not student.classroom %}
    <form class="row g-3" method="post">
        {% csrf_token %}
        <div class="col-auto">
            <label for="key" class="">Код класу: </label>
            <input type="text" class="form-control-plaintext" name="key" id="key">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Увійти</button>
        </div>
    </form>
    {% else %}

    <div class="row row-cols-1 row-cols-md-4 g-4 py-4 px-4">
        <br>
        {% for s in subjects %}
        <div class="col">
        <div class="card cards card-2 text-center">
            <a href="{% url 'student:home_works' s.id %}" class="text-decoration-none">
                <img src="{{ s.image.url }}" class="card-img-top" height="200">
            </a>
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'student:home_works' s.id %}"
                                              class="nav-link link-dark text-center">{{ s.subject_name }}</a></h5>
                </div>
            </div>
        </div>






        {% endfor %}
    </div>
    {% endif %}
{% endblock %}


