{% extends 'student/base_student.html' %}

{% block title %}
{{ subject.subject_name }}
{% endblock %}

{% block page_name %}
{{ subject.subject_name }}
{% endblock %}

{% block content %}


<div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse d-flex" style="height:100vh">
        <div class="position-sticky pt-2 sidebar-sticky">
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a href="{% url 'student:student_classrooms' %}" class="nav-link link-dark">

                        Усі предмети
                    </a>
                </li>
                <hr>
                {% for s in subjects %}
                {% if s == subject %}
                <li>
                    <a href="{% url 'student:home_works' s.id %}" class="nav-link active bg-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        {{ s.subject_name }}
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'student:home_works' s.id %}" class="nav-link link-dark"
                       aria-current="page">
                        {{ s.subject_name }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="row py-lg-3">
            <div class="col-lg-10 col-md-8 mx-auto">
                <h1 class="fw-light text-center">Домашні завдання </h1>
                <ul class="list-group py-3">
                    {% if not home_tasks %}
                    <h4 class="text-center">
                        Домашні завдання поки що відсутні
                    </h4>
                    {% endif %}
                    {% for h in home_tasks %}
                    <a href="{% url 'student:detail_home_tasks' subject.id h.id %}"
                       class="list-group-item list-group-item-action">
                        ДЗ | {{ subject.subject_name }} - {{ h.task }} | {{ h.pub_date | date:'d.m.Y' }}

                        {% for hw in hws %}
                        {% if hw.mark and hw.home_task == h %}
                        <span class="mx-3  badge bg-success">Оцінено</span>
                        {% elif hw.home_task == h and not hw.mark %}
                        <span class="mx-3  badge bg-warning">Сдано</span>
                        {% endif %}
                        {% endfor %}

                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
</div>

{% endblock %}

