{% extends 'base.html' %}

{% block title %}
My Homeworks
{% endblock %}


{% block buttons %}
<li class="nav-item"><a href="{% url 'student:student_classrooms' %}" class="nav-link px-2 text-white">Home</a></li>
<li class="nav-item"><a href="" class="nav-link px-2 text-secondary">Homeworks</a></li>
<li class="nav-item"><a href="" class="nav-link px-2 text-white">Teacher</a></li>
{% endblock %}

{% block end_buttons %}
<a class="nav-link px-2 text-white  m-1"> User: {{ student.user.email }} </a>
<a href="{% url 'accounts:logout' %}" class="btn btn-outline-secondary">LogOut</a>

{% endblock %}


{% block content %}
{% if not student.classroom %}
<form class="row g-3" method="post">
    {% csrf_token %}
  <div class="col-auto">
    <label for="key" class="visually-hidden">Classroom key: </label>
    <input type="text" class="form-control-plaintext" name="key" id="key">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Confirm</button>
  </div>
</form>
{% else %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for s in subjects %}
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ s.subject_name }}</h5>
          <a href="{% url 'student:home_works' s.id %}" class="btn btn-primary mb-3">Подивитись завдання</a>
      </div>
    </div>
  </div>
     {% endfor %}
</div>

{% endif %}
{% endblock %}

