{% extends 'accounts/base_accounts.html' %}

{% block title %}
Реєстрація
{% endblock %}


{% block content %}
  <div class="container col-xxl-8 px-4 py-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/media/Wavy_Edu-05_Single-08.jpg" class="d-block mx-lg-auto img-fluid" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Реєстрація</h1>
        <p class="lead">Створити новий обліковий запис</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{% url 'accounts:student_signup' %}" class="btn btn-primary btn-lg px-4 me-md-2">Учня</a>
            <a href="{% url 'accounts:teacher_signup' %}" class="btn btn-primary btn-lg px-4 me-md-2">Учителя</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
