<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
    <link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'teacher/css/teacher.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 border-bottom bg-primary sticky-top">

      <div class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 px-5">
          <h2 class=" text-white"> {% block page_name %}{% endblock %}</h2>
      </div>

      <div class="col-md-3 text-end">
          <a href="{% url 'teacher:classrooms' %}" class="btn btn-outline-light my-2">Змінити клас</a>
          <a href="{% url 'accounts:logout' %}" class="btn btn-outline-dark ms-2 me-5 my-2">Вийти</a>
      </div>
</header>

<div class="container-fluid">
    {% block content %}
    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous">
</script>

<script src="{% static 'lightbox/js/lightbox-plus-jquery.js' %}"></script>

</body>
</html>
