{% extends 'teacher/base_teacher.html' %}

{% block title %}
{{ classroom.class_name }}
{% endblock %}

{% block page_name %}
{{ classroom.class_name }} клас
{% endblock %}

{% block content %}
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="height:100vh">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{% url 'teacher:detail_classroom' pk %}" class="nav-link active" aria-current="page">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    Мій клас
                </a>
            </li>
            <li>
                <a href="{% url 'teacher:subjects' pk %}" class="nav-link link-dark">
                    Предмети
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    Розклад
                </a>
            </li>

        </ul>

      </div>
    </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
          <table class="table">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Прізвище</th>
      <th scope="col">Ім'я</th>
      <th scope="col">По батькові</th>
        <th scope="col">Телефон</th>
        <th scope="col">Роботи</th>

    </tr>
  </thead>
  <tbody>

 {% for s in students %}
  <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ s.user.last_name }}</td>
      <td>{{ s.user.first_name }} </td>
      <td>{{ s.user.patronymic }}</td>
      <td>{{ s.user.phone_number }}</td>
      <td>            <a href="{% url 'teacher:homework' pk s.user.id %}" class="btn btn-outline-primary">Виконані роботи</a>
</td>
    </tr>
 {% endfor %}
                </tbody>
</table>
      </main>
  </div>
{% endblock %}
