{% extends 'teacher/base_teacher.html' %}

{% block title %}
Мої класи
{% endblock %}

{% block page_name %}
Мої класи
{% endblock %}

{% block content %}

<div class="row row-cols-1 row-cols-md-4 g-4 px-4">
    <br>
    {% if not classrooms %}
<h4>
    Classrooms doesn't exist
</h4>
{% endif %}
    {% for c in classrooms %}
    <div class="col">
        <div class="card cards card-2 text-center">
            <a href="{% url 'teacher:detail_classroom' c.id %}" class="text-decoration-none">

                <img src="{{ c.image.url }}" width="500" height="180" class="card-img-top">
            </a>
            <div class="card-body ">
                <a href="{% url 'teacher:detail_classroom' c.id %}" class="text-decoration-none"><h5
                        class="nav-link link-dark">{{ c.class_name }}</h5></a>
                <div class="btn-group btn-group" role="group" aria-label="Small button group">
                    <a href="{% url 'teacher:update_classroom' c.id %}" type="button" class="btn btn-outline-primary">Редагувати</a>
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{ c.id }}">Видалити
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal{{ c.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ви дійсно бажаєте видалити {{ c.class_name }}
                        клас?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Усі дані про учнів, предмети та оцінки цього класу буде остаточно видалено без можливості
                    відновлення!
                </div>
                <div class="modal-footer">
                    <form method="POST" action="{% url 'teacher:delete_classroom' c.id %}">
                        {% csrf_token %}
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Відмінити</button>
                        <input  type="submit" class="btn btn-danger" value="Видалити">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col" align="center">
        <br><br><br><br><br>
        <a class=" btn btn-outlina-primary mx-200 " data-toggle="tooltip" data-placement="top" title="Додати новий клас" style="border-radius: 30px"
           href="{% url 'teacher:create_classroom' %}">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3Dcc3d5Lb1latb57H6sLv9iRIyIzrHNXDfw&usqp=CAU"
                 width="60" height="60">
        </a>
        <br><br><br><br><br>
    </div>
</div>
<br>

{% endblock %}