{% extends 'teacher/base_teacher.html' %}

{% block title %}
{{ subject.subject_name }}
{% endblock %}

{% block page_name %}
{{ subject.subject_name }}
{% endblock %}

{% block content %}
<div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse d-flex" style="height:100vh">
        <div class="position-sticky pt-3 sidebar-sticky">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{% url 'teacher:detail_classroom' pk %}" class="nav-link link-dark" aria-current="page">
                        Мій клас
                    </a>
                </li>
                <li>
                    <a href="{% url 'teacher:subjects' pk %}" class="nav-link link-dark">
                        Предмети
                    </a>
                </li>

                <hr>
                <li>
                    <a href="{% url 'teacher:home_tasks' pk subject.id %}" class="nav-link active">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        {{ subject.subject_name }}
                    </a>
                </li>
                <li>
                    <a href="{% url 'teacher:create_home_tasks' pk subject.id %}" class="nav-link link-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg>
                        Нове завдання
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">

        <div class="accordion mx-3" id="accordionExample">

            {% for h in home_tasks %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true"
                            aria-controls="collapse{{ forloop.counter }}">
                        Домашнє завдання | {{ subject.subject_name }} | {{ h.pub_date | date:'d.m.Y' }}
                    </button>
                </h2>
                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse "
                     aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-light">
                        <p>{{ h.task }}</p>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">

                                    {% for image in images %}

                                    {% if image.home_task == h %}
                                    <a href="{{ image.image.url }}" class="col-sm-3 px-1 py-1" data-lightbox="ht-images{{ h }}">
                                        <img src="{{ image.image.url }}" width="140" height="70">
                                    </a>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">

                            <div class="col justify-content-center">
                                <a href="{% url 'teacher:update_home_task' pk subject.id h.id %}" class="btn btn-primary">Редагувати</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal{{ h.id }}">Видалити
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
    <div class="modal fade" id="exampleModal{{ h.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ви дійсно бажаєте видалити завдання "{{ h.task }}"?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Усі дані про це завдання та виконані роботи за ним буде остаточно видалено без можливості
                    відновлення!
                </div>
                <div class="modal-footer">
                    <form method="POST" action="{% url 'teacher:delete_home_task' pk subject.id h.id %}">
                        {% csrf_token %}
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Відмінити</button>
                        <input type="submit" class="btn btn-danger" value="Видалити">
                    </form>
                </div>
            </div>
        </div>
    </div>
            </div>
                {% endfor %}
        </div>

    </main>
</div>

{% endblock %}

